/* .jumbotron {
    padding-top: 2rem;
    background-color: #e2edff;
} */

/* #projects {
    background-color: #e2edff;
} */

/* .jumbotron img {
    width: 197px;
    height: 223.7px;
} */

.renja {
    padding-top: 2rem;
    background-color: #e2edff;
}

