.container {
  width: 40%;
  margin-top: 0%;
  box-shadow: 0 3px 10px;
  padding: 30px;
  background-color: white;
  border-radius: 25px;
  /* border: 2px solid  rgb(0, 132, 255); */
}

.btn {
  width: 45%;
  border: none;
  color: #2196f3;
  border-radius: 4px;
  transition: ease-out 0.3s;
  outline: none;
  border: 3px solid #2196f3;
  position: relative;
  z-index: 1;
}

.btn:hover {
  color: white;
  cursor: pointer;
}

.btn:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #2196f3;
}

.btn:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.mantap img {
  width: 98.5px;
  height: 111.85px;
  align-items: center;
  justify-content: center;
}

.mantap span {
  padding: 8px;
  border-radius: 3px;
  box-shadow: 0 1px 2px;
}

body {
  background: url(../img/peta\ ini\ peta.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
